* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #161c22;
}
body::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  /* color of the tracking area */
  border-radius: 10px;
  background-color: #12151a;
}

body::-webkit-scrollbar-thumb {
  background: #ac1e1e;
  border: 1px solid #191d22;
  border-radius: 10px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
}
.home {
  display: block;
  margin: 5vw auto 10vh auto;
  width: 50%;

  background-color: #00000048;
}
.home img {
  display: block;
  margin: auto;
  width: 90%;
}
.home p {
  color: #dfdade;
  font-size: 20px;
  text-align: justify;
  line-height: 35px;
  padding: 0 10px;
  margin-bottom: 30px;
  padding: 0 50px;
}

.home h1 {
  font-size: 3vw;
  text-align: center;
  color: #dfdade;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px 5px;
  background-color: #d72323;
  margin-bottom: 1vw;
}
a {
  text-decoration: none;
}

.containerHeros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 4vw;
  width: 70%;
  margin: 70px auto 0 auto;
  padding: 60px 0;
}
.containerHeros img {
  display: block;
  margin: auto;
  width: 100%;
  height: 260px;
  transition: 1s all;
}
.hero {
  background-color: #00000069;
  text-align: center;
  padding: 7px;
  width: 220px;
  position: relative;
  overflow: hidden;
  transition: 0.7s all;
}
.hero h3 {
  font-size: 20px;
  font-family: inherit;
  color: #eeeeee;
  padding-top: 17px;
}
.description {
  display: none;
  background-color: #000000c5;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1vw;
  box-sizing: border-box;
  color: #dfdade;
  overflow: hidden;
}

.description span {
  font-size: 17px;
  height: 80%;
  font-weight: 800;
  padding-bottom: 2px;
}
span {
  display: block;
  margin: auto;
  text-align: justify;
  line-height: 23px;
  overflow: hidden;
}
.hero:hover .description {
  display: block;
  transition: all 2s;
}
.hero:hover {
  box-shadow: 7px 8px 5px 0px #00000091;
}
.hero:hover img {
  transform: scale(1.1);
}
.posted {
  background-color: #198519;
}

.nav-container {
  background-color: #d72323;
  width: 100%;

  position: fixed;
  z-index: 1;
  top: -0%;
}
.nav-container header {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
  width: 26%;
  font-size: 2vw;
  font-weight: 600;

  color: #eeeeee;
  background-color: #d72323;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.spidy {
  width: 4%;
  padding: 5px 0;
}
.personaje {
  background-color: #00000048;
  width: 50%;
  margin: 90px auto 0 auto;
  color: #eeeeee;
  overflow: hidden;
}

.descricion {
  display: block;
  text-align: center;
  margin: auto;
}
.personaje h1 {
  font-size: 5vh;
  text-align: center;
  padding: 25px 07px;
  color: #eeeeee;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Arial, sans-serif;
  background-color: #d72323;
}
.not {
  display: block;
  text-align: center;
  font-size: 2vh;
  padding: 20px 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.personaje .caratula img {
  display: block;
  width: 60%;
  margin-left: 4vw;
  margin: auto;
  border-radius: 5px;
}
.personaje .caratula p {
  margin: auto;
  text-align: justify;
  padding: 7px 0;
  line-height: 4vh;
  width: 55%;
  font-size: 2vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.info {
  padding: 15px 0;
}

h4 {
  text-align: center;
  font-size: 3vh;
  font-weight: 600;
  padding: 5px 0;
  color: #d72323;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
}

.info ul li {
  list-style: none;
  line-height: 30px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.error {
  background-color: #d72323;
  width: 50vw;
  height: 50vw;
  margin: 1vh 0 0 46%;
  z-index: 1;
}

.Container___form {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input,
.resul {
  width: 70%;
  font-size: 1vw;

  padding: 0.3vw;
  border-bottom: 1px solid #eeeeeeb6;
  background-color: rgba(0, 0, 0, 0.164);
  margin-right: 0.5vw;
  color: #508bc7;
  padding-top: 0.9vw;
}
.resul {
  position: fixed;
  top: 7%;
  right: 0;
  width: 21%;
}
input::placeholder {
  color: #ffffffa6;
  padding: 5px;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Container___form button {
  background-color: #d72323;
  border-radius: 7px;
  font-size: 16px;
  padding: 0.5vw 1vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
  color: #eeeeee;
  border: none;
}
.Container___form button:hover,
.otros a:hover {
  background-color: #af1d1d;
  border-radius: 10px;

  color: #ffffffbd;
}

@media only screen and (max-width: 800px) {
  .home {
    display: flex;
    width: 85%;
    padding: 0 5px;
    flex-direction: column;
    background-color: #00000048;
    margin-top: 25vw;
  }
  .home p {
    font-size: 16px;
    padding: 0 5px;
  }
  .home h1 {
    font-size: 3vh;
    padding: 17px 0;
  }
  .personaje {
    width: 80%;
    margin-top: 30vw;
  }
  .personaje .caratula p {
    width: 90%;
  }
  .OneComics p {
    font-weight: 400;
    width: 50%;
    padding: 10px 3vw;
    font-size: 16px;
    line-height: 20px;
  }
  .containerHeros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 4vw;
    width: 90%;
  }
  .containerHeros img {
    height: 130px;
  }
  .hero {
    padding: 3px;
    width: 120px;
  }
  .hero h3 {
    font-size: 16px;
  }
  .spidy {
    width: 8%;
    padding-top: 5px;
  }
  .description span {
    font-size: 10px;
    height: 50%;
    font-weight: 600;
    padding-bottom: 3px;
    line-height: normal;
  }

  .nav-container header {
    width: 65%;
    font-size: 20px;
    display: flex;
    padding-top: 10px;
  }

  .Container___form {
    grid-area: search;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Container___form form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
  }
  p,
  span,
  .comics ul li,
  .storis ul li,
  .series ul li,
  .storis ul li,
  .one ul li,
  .not {
    font-size: 16px;
  }
  .copyright a,
  .copyright span {
    display: block;
    font-size: 1px;
  }
}
.resul {
  background-color: #d723239d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #dfdade;
  border: none;
}
a,
.navList {
  color: #eeeeee;
  font-size: 17px;
}
.navList {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin: auto;
  overflow: hidden;
  padding: 0.5vw 0vw;
  justify-content: center;
}
.navList span {
  display: flex;
  margin: 0;
  justify-content: center;
  padding: 0;
  margin: 1vh 0.5vw;
}
.navList span a:hover {
  color: #d72323;
}

.copyright {
  grid-area: Footer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}
.copyright a,
.copyright span {
  font-size: 15px;

  padding: 1px 15px;
}
.copidata {
  width: 100%;
  padding: 10px 0;
  background-color: #d72323;
}
.imgmarverl {
  width: 100%;
  display: block;
  margin: auto auto 0 auto;
}

.OneComics {
  background-color: #00000048;
  color: #eeeeee;
  margin: 100px auto 20px auto;

  display: grid;
  grid-template-areas:
    "HeaderComics HeaderComics HeaderComics"
    "detalles detalles detalles"
    "supers supers creators"
    "supers supers creators"
    "Stories Stories creators"
    "comics comics creators"
    "series series creators"
    "events events creators"
    "otros otros otros";
  width: 50%;
}

.OneComics .HeaderComics img {
  width: 40%;
  height: 50vh;
}
.HeaderComics {
  grid-area: HeaderComics;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
}
.HeaderComics h2 {
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 3vw;
  padding: 24px 20px;
  margin-bottom: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #dfdade;
  font-weight: 800;
  background-color: #d72323;
}

.OneComics p {
  font-weight: 400;
  width: 50%;
  padding: 15px 3vw;
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
}
.detalles {
  display: flex;
  flex-direction: row-reverse;
  grid-area: detalles;
  background: #00000033;
  border: 3px solid #f30808;
  color: #d72323;
}
@media only screen and (max-width: 800px) {
  .HeaderComics h2 {
    font-size: 6vw;
  }
  .Container___form button {
    width: 15%;
    font-size: 10px;
    padding: 5px 0;
  }
  input,
  .resul {
    width: 60%;
    font-size: 2vw;
    padding: 5px;
  }
  .OneComics {
    width: 90%;
    margin: 120px auto 20px auto;
    grid-template-areas:
      "HeaderComics "
      "detalles"
      "supers"
      "creators"
      "Stories"
      "comics"
      "series"
      "events"
      "otros";
  }
  .OneComics p {
    font-weight: 400;
    width: 80%;
    padding: 15px 0vw;
    font-size: 16px;
  }
  .OneComics .HeaderComics img {
    width: 80%;
    height: 40vh;
  }
  .navList {
    width: 100%;
  }
  .navList span a {
    font-size: 14px;
    margin-right: 5px;
  }
}
.carga {
  width: 1350vh;
  position: relative;
  margin-left: 35%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 2;
}
.errormensaje {
  z-index: 1;
  position: fixed;

  top: 50%;
  left: 50%;
  color: #eeeeee81;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
}
.errormensaje span {
  text-align: center;
  width: 80%;
}
.errormensaje a {
  display: block;
  font-size: 25px;
  padding: 7px 2px;
  width: 60%;
  margin: auto;
  color: #d8d8d8bd;
}
.errormensaje h5 {
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.e404 {
  font-size: 50px;
  padding: 10px;
}
.detalles span {
  padding: 12px 7px;
  font-size: 30px;
  font-weight: 700;
}
.creators {
  background-color: #0f1316bc;
  grid-area: creators;
}

.OneComics h5 {
  font-size: 3vh;
  text-align: center;
  color: #dfdade;
  background-color: #d72323;
  padding: 10px;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.creators ul li {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  background-color: #14181ca6;
}

.creators span {
  width: 40%;
  text-align: left;
  color: #ae3232;
  padding: 0 35px;
}

.one ul li {
  margin: 10px 0;
  font-size: 2vh;
  list-style: none;
  padding: 10px 5px;
  font-weight: 500;
  text-align: center;
}
.Storiesone {
  grid-area: Stories;
  color: #dfdade;
}
.comicsone {
  grid-area: comics;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
} /*super que participaron*/
.supersone {
  grid-area: supers;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.supersone h5 {
  width: 100%;
  border-right: #00000098 1px solid;
}
.supersone p {
  padding: 0;

  border-bottom: 1px solid #ac1e1e;
  font-size: 20px;
  margin: 5px;
  width: 200px;
  text-align: center;
  overflow: hidden;
}
.seriesone {
  grid-area: series;
}
.otros {
  grid-area: otros;
  width: 100%;
  padding: 25px 0;
  border-top: solid 1px #d72323;
}
.otros a {
  display: grid;
  background-color: #d72323;
  margin: auto;
  text-align: center;
  padding: 8px 0;
  width: 120px;
  font-size: 18px;
  border-radius: 5px;
  color: #000000;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.eventssone {
  grid-area: events;
}

.footer-distributed {
  background-color: #d72323;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
/*"supers supers  creators"
    "Stories Stories creators"
    "comics comics  creators"
    "series series  creators"
    "otros otros  creators";*/
