* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container__carga {
  height: 90vh;
  width: 100%;
  position: relative;
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.452);
}

svg {
  width: 20vh;
  height: 20vh;
  z-index: 1;
  position: fixed;
  background-color: #e2e2e200;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.stroke-still {
  stroke: #232323;
}

.stroke-animation {
  -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
  animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@-webkit-keyframes stroke-color {
  0% {
    stroke: #af1d1d;
  }
  24% {
    stroke: #ff8484;
  }
  25% {
    stroke: #af1d1d;
  }
  49% {
    stroke: #ff5353;
  }
  50% {
    stroke: #af1d1d;
  }
  74% {
    stroke: #ff3131;
  }
  75% {
    stroke: #af1d1d;
  }
  99% {
    stroke: #ff0000;
  }
}

@keyframes stroke-color {
  0% {
    stroke: #af1d1d;
  }
  24% {
    stroke: #ff8484;
  }
  25% {
    stroke: #af1d1d;
  }
  49% {
    stroke: #ff5353;
  }
  50% {
    stroke: #af1d1d;
  }
  74% {
    stroke: #ff3131;
  }
  75% {
    stroke: #af1d1d;
  }
  99% {
    stroke: #ff0000;
  }
}
